.featured-container {
    margin-top: 1.5%;
    background-color: lighten(#eee, 6%);
}

.featured-container h1 {
    margin-bottom: 15px;
    padding-left: 4%;
}

.featured-list {
    height: 100%;
    margin-top: 10px;
    margin-bottom: 75px;

    ul {
        height: 800px;
        overflow-y: auto;
    }
}
