@import "settings";
@import "foundation/foundation";
@import "font-awesome/font-awesome";
@import "navigation";
@import "featured";

html, body {
	overflow: hidden;
}

.row.full-width {
 	width: 100%;
 	max-width: 100%; 
}

.bordered {
	border: 1px solid;
}